body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    
}
/* navbar and home part -------------------------------------------------- */
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #1a1a1a;
        position: fixed;
        top: 0;
        width: 100%;
        font-size: 150%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    transition: .3s;
  }

.a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #404040;
}


.icon {
    display: none;
    width: 1%;
}
.dash {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}
#menu {
    display: none;
}
.bgc{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../assets/bgc.jpg");
    padding-top: 100px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.round {
    width: 10%;
    display: block;
    margin: 3% auto;
    border-radius: 50%;
    border: 1px solid black;
}
.and{
    color: white;
    font-size: 300%;
    text-shadow:  0 0 10px black, 0 0 10px black;
    width: 40%;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
}
.explore{
    color: white;
    font-size: 180%;
    text-shadow:  0 0 15px black, 0 0 15px black;
    width: 60%;
    letter-spacing: 1px;
    margin: 3% auto;
    padding-bottom: 150px;
    text-align: center;
}



@media screen and (max-width:800px){   
    body{      
       background-color: white;   
    }
    ul{
        font-size: 6vw;
    }
    li a {
        display: none;
    }
    .icon {
        display: block;
        width: 5%;
        padding: 14px 16px;
        float: right;
        transition: .3s;
    }
   .icon:hover{
       background-color: #808080;
   }
    #menu {
        display: none;
        width: 100%;
        height: 100vh;
        background-color: rgb(26, 26, 26, 0.98);
        position: fixed;
        top: 0;
        transform: 1s;
    }
    .x {
        color: white;
        font-size: 280%;
        text-align: center;
        margin: 1% 30% 10% 30%;
        cursor: pointer;
        transition: .3s;
        
    }
    .x:hover{
        text-shadow: 0 0 4px #999999, 0 0 4px #999999;
    }
    
    nav a{
        display: block;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 200%;
        padding: 2%;
        transition: .3s;
        
    }
    nav a:hover{
        background-color: black;
    }
    
    .round{
        width: 25%;
    }
    .and{
        font-size: 250%;
    }
    .explore{
        font-size: 150%;
    }
 }
 /* what's new part-------------------------------------------------- */
 .new{
     width: 80%;
     margin: 0 auto;
     padding: 2%;
     margin-top: -100px;
     background-color:white;
     border: 5px solid #f2f2f2;
 }
 .newp{
     color: #1a1a1a;
     font-size:250% ;
     margin: 0;
 }
 .newpp{
     color: #404040;
     font-size: 130%;
     margin: 0;
     padding-top: 1%;
 }
 @media screen and (max-width:800px){
     .new{
         padding: 4%;
         width: 70%;
     }
 }
 /* explore part---------------------------------------------------- */
 #explore{
    padding-top: 20px;
}
.begin-top{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}
.p-title{
    color: #0d0d0d;
    font-size: 250%;
    margin: 0;
}
.p-para{
    color: #1a1a1a;
    font-size: 150%;
    margin: 0;
    padding-top: 1%;
}
.box{
    width: 14%;
    display: inline-block;
    margin: 2%;
    background-color: white;
    border: 5px solid #d9d9d9;
    border-radius: 15px;
    transition: .1s;
}
.box:hover{
    box-shadow: 5px 10px 15px #999999;
}
.img-box{
    width: 30%;
    margin: 10px auto;
    display: block;
    border: 2px solid #404040;
}
.p-box{
    text-align: center;
    font-size: 160%;
    color: #1a1a1a;
}
.boxes a{
    text-decoration: none;
}
@media screen and (max-width:800px){
    .begin-top{
        width: 70%;
    }
    .box{
        width: 60%;
        display: block;
        margin: 20px auto;
    }
    .img-box{
        width: 20%;
        margin: 10px auto;
        display: block;
        border: 2px solid #404040;
    }
    .boxes a{
        text-decoration: none;
    }
}
 /* art gallery part-------------------------------------------------------------- */
 #gallery{
     padding-top: 80px;
 }
 .art{
    margin: 0 auto;
    background-color: #ccf5ff;
    text-align: center;
}
.letter {
    font-size: 300%;
    font-weight: bolder;
    margin: 0 1%;
}
.art-p{
    font-size: 150%;
    letter-spacing: 2px;
}
.main {
    background-color: #ff9966;
    width: 80%;
    margin:  5% auto;
    overflow: hidden;
}
.main img {
    float: left;
    width: 20%;
    border-right: 10px solid #802b00;
}
.side {
    display: inline-block;
    width: 60%;
    margin: 3%;
}
.ttl {
    font-size: 200%;
    color: #802b00;
}
.btm a{
    font-size: 150%;
    color: #cc4400;
}
.btm a:hover{
    font-style: italic;
}

@media screen and (max-width:800px) {
    .main {
        width: 70%;
    }
    
    .main img {
        float: none;
        margin: 0 auto;
        width: 80%;
        display: block;
        border-bottom: 10px solid #802b00;
        border-right: none;
    }
    .side {
        display: block;
        width: 100%;
        margin: 1%;
        text-align: center;
    }
    .ttl {
        font-size: 200%;
        color: #802b00;
        margin-block-start: 0;
    margin-block-end: 0;
    }
    .btm a{
        font-size: 150%;
        color: #cc4400;
        
    }
}
/* about part----------------------------------------------------------------- */
#about{
    padding-top: 30px;
    margin-bottom: 50px;
}
    
.about{
    text-align: center;
    font-size: 200%;
}
.me{
    width: 25%;
    display: block;
    margin: 0 auto;
}
.details{
    width: 60%;
    margin: 2% auto;
    font-size: 130%;
    color: #404040;
    text-align: center;
}
.contact{
    
    margin: 2% auto;
    font-size: 140%;
    color: #1a1a1a;
    text-align: center;
}
 @media screen and (max-width:800px){
     .me{
         width: 60%;
     }
 }
 

